# Week 9-2 Frequent itemsets

## Bibliotheken importeren

In [1]:
import numpy as np
import pandas as pd
import sqlite3
from mlxtend.frequent_patterns import apriori, association_rules, fpgrowth

C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_74232\953680323.py:2: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

## Data inlezen en kolommen selecteren

**connectie**

In [2]:
go_sales_con = sqlite3.connect('Great_Outdoors_Data_SQLite\\go_sales.sqlite')
go_crm_con = sqlite3.connect('Great_Outdoors_Data_SQLite\\go_crm.sqlite')
go_staff_con = sqlite3.connect('Great_Outdoors_Data_SQLite\\go_staff.sqlite')
go_inv_con = 'Great_Outdoors_Data_SQLite\\GO_SALES_INVENTORY_LEVELSData.csv'
go_forecast_con = 'Great_Outdoors_Data_SQLite\\GO_SALES_PRODUCT_FORECASTData.csv'

**Dataframes inlezen**

In [3]:
Go_staff_queries = {
    'Course': 'SELECT * FROM Course',
    'Training': 'SELECT * FROM Training',
    'Sales_staff': 'SELECT * FROM Sales_staff',
    'Satisfaction': 'SELECT * FROM Satisfaction',
    'Satisfaction_type': 'SELECT * FROM Satisfaction_type',
}

Go_crm_queries = {
    'Retailer_contact': 'SELECT * FROM Retailer_contact',
    'Retailer_site' : 'SELECT * FROM Retailer_site',
    'Retailer' : 'SELECT * FROM Retailer',
    'Retailer_type' : 'SELECT * FROM Retailer_type',
    'COUNTRY': 'SELECT * FROM COUNTRY',
    'Sales_territory': 'SELECT * FROM Sales_territory'
}

Go_sales_queries = {
    'Order_method': 'SELECT * FROM Order_method',
    'Order_header': 'SELECT * FROM Order_header',
    'Order_details': 'SELECT * FROM Order_details',
    'Returned_item': 'SELECT * FROM Returned_item',
    'Return_reason': 'SELECT * FROM Return_reason',
    'Product': 'SELECT * FROM Product',
    'PRODUCT_TYPE': 'SELECT * FROM PRODUCT_TYPE',
    'PRODUCT_LINE' : 'SELECT * FROM PRODUCT_LINE',
    'Sales_TARGETData' : 'SELECT * FROM Sales_TARGETData',
    'Sales_branch': 'SELECT * FROM Sales_branch'
}


dataframes = {}

# Lees elke tabel in een DataFrame
for table_name, query in Go_staff_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, go_staff_con)

for table_name, query in Go_crm_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, go_crm_con)

for table_name, query in Go_sales_queries.items():
    dataframes[table_name] = pd.read_sql_query(query, go_sales_con)

# Lees de CSV-bestanden in pandas DataFrames
GO_SALES_INVENTORY_LEVELSData = pd.read_csv(go_inv_con, index_col=False)
GO_SALES_PRODUCT_FORECASTData = pd.read_csv(go_forecast_con, index_col=False)

# Voeg de DataFrames toe aan de dataframes dictionary
dataframes['GO_SALES_INVENTORY_LEVELSData'] = GO_SALES_INVENTORY_LEVELSData
dataframes['GO_SALES_PRODUCT_FORECASTData'] = GO_SALES_PRODUCT_FORECASTData

#als je ik elk tabel als een dataframe/ variabele wil behandelen of aanroepen moet ik dit uitvoeren.
for table_name, df in dataframes.items():
    globals()[table_name] = df

Sales_staff['DATE_HIRED'] = pd.to_datetime(Sales_staff['DATE_HIRED'], errors='coerce')
Sales_staff['DATE_HIRED'] = Sales_staff['DATE_HIRED'].dt.date

#print(GO_SALES_INVENTORY_LEVELSData)

C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_74232\1065181869.py:56: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Sales_staff['DATE_HIRED'] = pd.to_datetime(Sales_staff['DATE_HIRED'], errors='coerce')

**Kolomen selecteren**

In [4]:
df = pd.merge(Product, Order_details, on = 'PRODUCT_NUMBER')

df

,PRODUCT_NUMBER,INTRODUCTION_DATE,PRODUCT_TYPE_CODE,PRODUCTION_COST,MARGIN,PRODUCT_IMAGE,LANGUAGE,PRODUCT_NAME,DESCRIPTION,TRIAL888,ORDER_DETAIL_CODE,ORDER_NUMBER,QUANTITY,UNIT_COST,UNIT_PRICE,UNIT_SALE_PRICE,TRIAL879
0,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100085,8474,40,4.01,6.03,6.03,T
1,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100086,8470,40,4.01,6.03,6.03,T
2,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100087,8464,48,4.01,6.03,6.03,T
3,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100088,9254,66,4.01,6.03,6.03,T
4,1,15-2-2011,1,4,.33,P01CE1CG1.jpg,EN,TrailChef Water Bag,"Lightweight, collapsible bag to carry liquids ...",T,100089,8472,88,4.01,6.03,6.03,T
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
43058,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,98478,8210,30,1.97,4.94,4.94,T
43059,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,99566,8246,20,2,5,3.95,T
43060,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,99567,8239,18,2,5,5,T
43061,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,99568,8270,26,2,5,5,T
43062,99,15-2-2011,17,2,.6,P99OP4FA17.jpg,EN,Aloe Relief,"Perfect for minor burns and sunburn, the aloe ...",T,99569,8328,28,2,5,5,T

In [5]:
df.columns

Index(['PRODUCT_NUMBER', 'INTRODUCTION_DATE', 'PRODUCT_TYPE_CODE',
       'PRODUCTION_COST', 'MARGIN', 'PRODUCT_IMAGE', 'LANGUAGE',
       'PRODUCT_NAME', 'DESCRIPTION', 'TRIAL888', 'ORDER_DETAIL_CODE',
       'ORDER_NUMBER', 'QUANTITY', 'UNIT_COST', 'UNIT_PRICE',
       'UNIT_SALE_PRICE', 'TRIAL879'],
      dtype='object')

**Alle rijen in df moeten een transactie voortstellen**

In [6]:
df = df.loc[:, ['ORDER_NUMBER', 'PRODUCT_NUMBER']]
df

      ORDER_NUMBER PRODUCT_NUMBER
0             8474              1
1             8470              1
2             8464              1
3             9254              1
4             8472              1
...            ...            ...
43058         8210             99
43059         8246             99
43060         8239             99
43061         8270             99
43062         8328             99

[43063 rows x 2 columns]

## Dummy encoding

**verzameling itemsets**

In [7]:
df_dummies = pd.get_dummies(df, columns=['PRODUCT_NUMBER'], prefix='', prefix_sep='')

#de max() functie kijkt of een product aanwezig is in een order at least once
#dit doet het door de max value te nemen voor elk entry voor een product in een order
df_dummies = df_dummies.groupby(df['ORDER_NUMBER']).max() 
df_dummies

,ORDER_NUMBER,1,10,100,101,102,103,104,105,106,...,90,91,92,93,94,95,96,97,98,99
ORDER_NUMBER,,,,,,,,,,,,,,,,,,,,,
1153,1153,False,False,True,False,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
1154,1154,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1155,1155,False,False,False,False,False,False,False,False,False,...,False,True,True,False,False,True,False,False,False,False
1156,1156,False,False,False,False,False,False,False,False,False,...,False,True,False,False,True,False,False,False,False,True
1157,1157,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,False,False,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9475,9475,False,False,False,False,False,False,False,False,False,...,False,False,False,True,True,False,True,False,False,False
9476,9476,False,True,False,False,False,False,False,False,False,...,True,False,False,False,False,True,False,False,False,False
9477,9477,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,True,False,False,False,True
9478,9478,True,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
9479,9479,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

## Apriori algoritme toepassen

**Bereken de frequent itemsets door de itemsets te selecteren >= min_support**

In [8]:
df_dummies = df_dummies.drop(['ORDER_NUMBER'], axis = 1)

#vind frequente itemsets
frequent_itemsets = apriori(df_dummies, min_support= 0.02, use_colnames = True)
frequent_itemsets

      support  itemsets
0    0.086381       (1)
1    0.081716      (10)
2    0.060634     (100)
3    0.078358     (101)
4    0.077985     (102)
..        ...       ...
164  0.024254  (60, 61)
165  0.024627  (62, 60)
166  0.029104  (62, 61)
167  0.020896  (85, 80)
168  0.021828  (94, 91)

[169 rows x 2 columns]

**Rules Generation met low confidence rule**

In [9]:
rules = association_rules(frequent_itemsets, metric="confidence", min_threshold=0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(2),(1),0.078172,0.086381,0.020336,0.260143,3.011593,0.013583,1.234860,0.724592
1,(1),(2),0.086381,0.078172,0.020336,0.235421,3.011593,0.013583,1.205668,0.731103
2,(1),(34),0.086381,0.081157,0.020709,0.239741,2.954048,0.013699,1.208592,0.724023
3,(34),(1),0.081157,0.086381,0.020709,0.255172,2.954048,0.013699,1.226619,0.719907
4,(1),(9),0.086381,0.085821,0.020149,0.233261,2.718002,0.012736,1.192296,0.691845
...,...,...,...,...,...,...,...,...,...,...
103,(61),(62),0.084701,0.086567,0.029104,0.343612,3.969315,0.021772,1.391606,0.817293
104,(85),(80),0.093470,0.076493,0.020896,0.223553,2.922545,0.013746,1.189402,0.725660
105,(80),(85),0.076493,0.093470,0.020896,0.273171,2.922545,0.013746,1.247239,0.712320
106,(94),(91),0.104104,0.084142,0.021828,0.209677,2.491953,0.013069,1.158841,0.668279
107,(91),(94),0.084142,0.104104,0.021828,0.259424,2.491953,0.013069,1.209727,0.653713

**Strong Rules identificeren om te kijken welke producten het meest samen worden gekocht**

In [10]:
# Sorteer deze regels op basis van confidence, lift en support
rules = rules.sort_values(['confidence', 'lift', 'support'], ascending=[False, False, False])

# Bekijk de top regels om te zien welke producten vaak samen gekocht worden
top_rules = rules.head(20)
print(top_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

    antecedents consequents   support  confidence      lift
11        (104)       (102)  0.022761    0.416382  5.339256
15        (107)       (102)  0.024067    0.406940  5.218179
13        (105)       (102)  0.025187    0.400593  5.136797
18        (111)       (102)  0.025746    0.385475  4.942931
29        (107)       (111)  0.022761    0.384858  5.762120
22        (104)       (107)  0.020336    0.372014  6.290199
21        (113)       (102)  0.020522    0.364238  4.670617
90         (58)        (60)  0.025746    0.359375  4.543042
25        (107)       (105)  0.020896    0.353312  5.619448
40         (55)        (44)  0.023507    0.352941  4.978328
71         (53)        (62)  0.025933    0.351899  4.065037
33         (43)        (54)  0.020522    0.350318  4.954372
27        (105)       (111)  0.022015    0.350148  5.242445
68         (53)        (61)  0.025373    0.344304  4.064908
23        (107)       (104)  0.020336    0.343849  6.290199
103        (61)        (62)  0.029104    0.343612  3.969315
82         (55)        (61)  0.022761    0.341737  4.034601
28        (111)       (107)  0.022761    0.340782  5.762120
79         (54)        (62)  0.024067    0.340369  3.931853
93         (58)        (62)  0.024254    0.338542  3.910740

**product nummers omzetten naar namen, voor een duidelijker overzicht**

In [11]:
product_name_mapping = pd.Series(Product.PRODUCT_NAME.values, index=Product.PRODUCT_NUMBER).to_dict()

# Nu gaan we door de regels DataFrame heen en vertalen de antecedents en consequents
def get_product_names(itemset):
    return [product_name_mapping[item] for item in itemset]


# Pas deze functie toe om de productnamen te krijgen
rules['antecedent_names'] = rules['antecedents'].apply(get_product_names)
rules['consequent_names'] = rules['consequents'].apply(get_product_names)

# Maak een nieuw DataFrame met de gewenste informatie
new_df = rules[['antecedent_names', 'consequent_names', 'confidence']]
# Converteer confidence naar een afgerond percentage en voeg een '%' toe
new_df['confidence'] = (new_df['confidence'] * 100).round().astype(int).astype(str) + '%'

new_df.head(20)

C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_74232\2098897812.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['confidence'] = (new_df['confidence'] * 100).round().astype(int).astype(str) + '%'

,antecedent_names,consequent_names,confidence
11,[Lady Hailstorm Titanium Irons],[Hailstorm Titanium Irons],42%
15,[Lady Hailstorm Titanium Woods Set],[Hailstorm Titanium Irons],41%
13,[Hailstorm Titanium Woods Set],[Hailstorm Titanium Irons],40%
18,[Blue Steel Max Putter],[Hailstorm Titanium Irons],39%
29,[Lady Hailstorm Titanium Woods Set],[Blue Steel Max Putter],38%
22,[Lady Hailstorm Titanium Irons],[Lady Hailstorm Titanium Woods Set],37%
21,[Course Pro Umbrella],[Hailstorm Titanium Irons],36%
90,[Granite Hammer],[Granite Grip],36%
25,[Lady Hailstorm Titanium Woods Set],[Hailstorm Titanium Woods Set],35%
40,[Firefly Rechargeable Battery],[Husky Rope 100],35%
71,[Firefly Climbing Lamp],[Granite Extreme],35%
33,[Husky Rope 60],[Firefly Charger],35%
27,[Hailstorm Titanium Woods Set],[Blue Steel Max Putter],35%
68,[Firefly Climbing Lamp],[Granite Axe],34%
23,[Lady Hailstorm Titanium Woods Set],[Lady Hailstorm Titanium Irons],34%
103,[Granite Axe],[Granite Extreme],34%
82,[Firefly Rechargeable Battery],[Granite Axe],34%
28,[Blue Steel Max Putter],[Lady Hailstorm Titanium Woods Set],34%
79,[Firefly Charger],[Granite Extreme],34%
93,[Granite Hammer],[Granite Extreme],34%

## Apriori algoritme met closed en maximale itemsets

In [12]:
frequent_itemsets

      support  itemsets
0    0.086381       (1)
1    0.081716      (10)
2    0.060634     (100)
3    0.078358     (101)
4    0.077985     (102)
..        ...       ...
164  0.024254  (60, 61)
165  0.024627  (62, 60)
166  0.029104  (62, 61)
167  0.020896  (85, 80)
168  0.021828  (94, 91)

[169 rows x 2 columns]

**Filter op closed itemsets**

**Closed itemsets:** Een itemset is gesloten als er geen superset van bestaat die dezelfde support heeft. 

**Support** is hoevaak komt een rij(itemsets) voor in totale verzameling itemsets \
met closed itemsets filter je sets weg gebaseerd of een superset dezelfde support heeft

In [13]:
def find_closed_itemsets(frequent_itemsets):
    # Voeg een kolom toe voor het bijhouden van closed status
    frequent_itemsets['is_closed'] = True

    # Converteer set voor efficiënte subset checks
    # Dictionary comprehension, frozenset om de itemsets als sleutel te gebruiken.
    # Itereer over itemset en support kolom en zip() lever tuple op met huidige itemset en support
    itemset_support_dict = {frozenset(itemset): support for itemset, support in zip(frequent_itemsets['itemsets'], frequent_itemsets['support'])}
    
    # Controleer op elke itemset of het closed is
    for itemset in itemset_support_dict:
        current_support = itemset_support_dict[itemset]
        # Check elke andere itemset om te zien of het een superset is met dezelfde support
        for potential_superset in itemset_support_dict:
            if itemset < potential_superset and itemset_support_dict[potential_superset] == current_support:
                # Als een superset met dezelfde support bestaat, is deze itemset niet closed
                frequent_itemsets.loc[frequent_itemsets['itemsets'] == itemset, 'is_closed'] = False
                break

    # Filter om alleen closed itemsets te behouden
    closed_itemsets = frequent_itemsets[frequent_itemsets['is_closed']].drop('is_closed', axis=1)
    return closed_itemsets

# Vind closed itemsets
closed_itemsets = find_closed_itemsets(frequent_itemsets)
closed_itemsets

      support  itemsets
0    0.086381       (1)
1    0.081716      (10)
2    0.060634     (100)
3    0.078358     (101)
4    0.077985     (102)
..        ...       ...
164  0.024254  (60, 61)
165  0.024627  (62, 60)
166  0.029104  (62, 61)
167  0.020896  (85, 80)
168  0.021828  (94, 91)

[169 rows x 2 columns]

**Filter op maximale itemsets**

**Maximale itemsets:** Een itemset is maximaal als er geen frequente superset van bestaat.

In [14]:
def find_maximal_itemsets(closed_itemsets):
    itemset_support_dict = {frozenset(itemset): support for itemset, support in zip(closed_itemsets['itemsets'], closed_itemsets['support'])}
    maximal_itemsets = []
    
    # Controleer elk itemset
    for itemset in itemset_support_dict.keys():
        is_maximal = True
        current_support = itemset_support_dict[itemset]
        
        # Controleer elk ander itemset
        for potential_superset in itemset_support_dict.keys():
            # Een itemset kan alleen maximaal zijn als er geen grotere frequente superset bestaat
            if itemset < potential_superset and itemset_support_dict[potential_superset] >= current_support:
                is_maximal = False
                break
        
        if is_maximal:
            maximal_itemsets.append((itemset, current_support))
    
    return maximal_itemsets

# Roep de functie aan om maximale itemsets te vinden
maximal_itemsets = find_maximal_itemsets(closed_itemsets)
maximal_df = pd.DataFrame(maximal_itemsets, columns=['itemsets', 'support'])
maximal_df

     itemsets   support
0         (1)  0.086381
1        (10)  0.081716
2       (100)  0.060634
3       (101)  0.078358
4       (102)  0.077985
..        ...       ...
164  (60, 61)  0.024254
165  (62, 60)  0.024627
166  (62, 61)  0.029104
167  (85, 80)  0.020896
168  (94, 91)  0.021828

[169 rows x 2 columns]

**Rules Generation met low confidence rule**

In [15]:
rules = association_rules(maximal_df, metric="confidence", min_threshold=0.1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(2),(1),0.078172,0.086381,0.020336,0.260143,3.011593,0.013583,1.234860,0.724592
1,(1),(2),0.086381,0.078172,0.020336,0.235421,3.011593,0.013583,1.205668,0.731103
2,(1),(34),0.086381,0.081157,0.020709,0.239741,2.954048,0.013699,1.208592,0.724023
3,(34),(1),0.081157,0.086381,0.020709,0.255172,2.954048,0.013699,1.226619,0.719907
4,(1),(9),0.086381,0.085821,0.020149,0.233261,2.718002,0.012736,1.192296,0.691845
...,...,...,...,...,...,...,...,...,...,...
103,(61),(62),0.084701,0.086567,0.029104,0.343612,3.969315,0.021772,1.391606,0.817293
104,(85),(80),0.093470,0.076493,0.020896,0.223553,2.922545,0.013746,1.189402,0.725660
105,(80),(85),0.076493,0.093470,0.020896,0.273171,2.922545,0.013746,1.247239,0.712320
106,(94),(91),0.104104,0.084142,0.021828,0.209677,2.491953,0.013069,1.158841,0.668279
107,(91),(94),0.084142,0.104104,0.021828,0.259424,2.491953,0.013069,1.209727,0.653713

**Strong Rules identificeren om te kijken welke producten het meest samen worden gekocht**

In [16]:
# Sorteer deze regels op basis van confidence, lift en support
rules = rules.sort_values(['confidence', 'lift', 'support'], ascending=[False, False, False])

# Bekijk de top regels om te zien welke producten vaak samen gekocht worden
top_rules = rules.head(20)
print(top_rules[['antecedents', 'consequents', 'support', 'confidence', 'lift']])

    antecedents consequents   support  confidence      lift
11        (104)       (102)  0.022761    0.416382  5.339256
15        (107)       (102)  0.024067    0.406940  5.218179
13        (105)       (102)  0.025187    0.400593  5.136797
18        (111)       (102)  0.025746    0.385475  4.942931
29        (107)       (111)  0.022761    0.384858  5.762120
22        (104)       (107)  0.020336    0.372014  6.290199
21        (113)       (102)  0.020522    0.364238  4.670617
90         (58)        (60)  0.025746    0.359375  4.543042
25        (107)       (105)  0.020896    0.353312  5.619448
40         (55)        (44)  0.023507    0.352941  4.978328
71         (53)        (62)  0.025933    0.351899  4.065037
33         (43)        (54)  0.020522    0.350318  4.954372
27        (105)       (111)  0.022015    0.350148  5.242445
68         (53)        (61)  0.025373    0.344304  4.064908
23        (107)       (104)  0.020336    0.343849  6.290199
103        (61)        (62)  0.029104    0.343612  3.969315
82         (55)        (61)  0.022761    0.341737  4.034601
28        (111)       (107)  0.022761    0.340782  5.762120
79         (54)        (62)  0.024067    0.340369  3.931853
93         (58)        (62)  0.024254    0.338542  3.910740

**product nummers omzetten naar namen, voor een duidelijker overzicht**

In [17]:
product_name_mapping = pd.Series(Product.PRODUCT_NAME.values, index=Product.PRODUCT_NUMBER).to_dict()

# Nu gaan we door de regels DataFrame heen en vertalen de antecedents en consequents
def get_product_names(itemset):
    return [product_name_mapping[item] for item in itemset]


# Pas deze functie toe om de productnamen te krijgen
rules['antecedent_names'] = rules['antecedents'].apply(get_product_names)
rules['consequent_names'] = rules['consequents'].apply(get_product_names)

# Maak een nieuw DataFrame met de gewenste informatie
new_df = rules[['antecedent_names', 'consequent_names', 'confidence']]
# Converteer confidence naar een afgerond percentage en voeg een '%' toe
new_df['confidence'] = (new_df['confidence'] * 100).round().astype(int).astype(str) + '%'

new_df.head(20)

C:\Users\Humberto de Castro\AppData\Local\Temp\ipykernel_74232\3000513351.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  new_df['confidence'] = (new_df['confidence'] * 100).round().astype(int).astype(str) + '%'

,antecedent_names,consequent_names,confidence
11,[Lady Hailstorm Titanium Irons],[Hailstorm Titanium Irons],42%
15,[Lady Hailstorm Titanium Woods Set],[Hailstorm Titanium Irons],41%
13,[Hailstorm Titanium Woods Set],[Hailstorm Titanium Irons],40%
18,[Blue Steel Max Putter],[Hailstorm Titanium Irons],39%
29,[Lady Hailstorm Titanium Woods Set],[Blue Steel Max Putter],38%
22,[Lady Hailstorm Titanium Irons],[Lady Hailstorm Titanium Woods Set],37%
21,[Course Pro Umbrella],[Hailstorm Titanium Irons],36%
90,[Granite Hammer],[Granite Grip],36%
25,[Lady Hailstorm Titanium Woods Set],[Hailstorm Titanium Woods Set],35%
40,[Firefly Rechargeable Battery],[Husky Rope 100],35%
71,[Firefly Climbing Lamp],[Granite Extreme],35%
33,[Husky Rope 60],[Firefly Charger],35%
27,[Hailstorm Titanium Woods Set],[Blue Steel Max Putter],35%
68,[Firefly Climbing Lamp],[Granite Axe],34%
23,[Lady Hailstorm Titanium Woods Set],[Lady Hailstorm Titanium Irons],34%
103,[Granite Axe],[Granite Extreme],34%
82,[Firefly Rechargeable Battery],[Granite Axe],34%
28,[Blue Steel Max Putter],[Lady Hailstorm Titanium Woods Set],34%
79,[Firefly Charger],[Granite Extreme],34%
93,[Granite Hammer],[Granite Extreme],34%